service-stubs/identity/org.wso2.carbon.identity.application.template.mgt.stub/src/main/resources/IdentityApplicationTemplateManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2179="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2175="http://mgt.template.application.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2177="http://dto.mgt.template.application.identity.carbon.wso2.org/xsd" xmlns:ax2180="http://script.model.common.application.identity.carbon.wso2.org/xsd" xmlns:tns="http://mgt.template.application.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.template.application.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityApplicationTemplateManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.template.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityApplicationTemplateMgtException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2182="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2176="http://mgt.template.application.identity.carbon.wso2.org/xsd" xmlns:ax2178="http://dto.mgt.template.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://mgt.template.application.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.template.application.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.common.application.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityApplicationTemplateMgtException" nillable="true" type="ax2175:IdentityApplicationTemplateMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadApplicationTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadApplicationTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2177:SpTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationTemplates">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2177:SpTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationTemplateNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationTemplateNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplicationTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApplicationTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="spTemplateDTO" nillable="true" type="ax2177:SpTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="exportApplicationTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="exportSecrets" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="exportApplicationTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createServiceProviderAsTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceProvider" nillable="true" type="ax2179:ServiceProvider"/>
                        <xs:element minOccurs="0" name="spTemplateDTO" nillable="true" type="ax2177:SpTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="importApplicationTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="spTemplateDTO" nillable="true" type="ax2177:SpTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2181="http://script.model.common.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.common.application.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://script.model.common.application.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="ServiceProvider">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationID" type="xs:int"/>
                    <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="certificateContent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimConfig" nillable="true" type="ax2179:ClaimConfig"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inboundAuthenticationConfig" nillable="true" type="ax2179:InboundAuthenticationConfig"/>
                    <xs:element minOccurs="0" name="inboundProvisioningConfig" nillable="true" type="ax2179:InboundProvisioningConfig"/>
                    <xs:element minOccurs="0" name="localAndOutBoundAuthenticationConfig" nillable="true" type="ax2179:LocalAndOutboundAuthenticationConfig"/>
                    <xs:element minOccurs="0" name="outboundProvisioningConfig" nillable="true" type="ax2179:OutboundProvisioningConfig"/>
                    <xs:element minOccurs="0" name="owner" nillable="true" type="ax2179:User"/>
                    <xs:element minOccurs="0" name="permissionAndRoleConfig" nillable="true" type="ax2179:PermissionsAndRoleConfig"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestPathAuthenticatorConfigs" nillable="true" type="ax2179:RequestPathAuthenticatorConfig"/>
                    <xs:element minOccurs="0" name="saasApp" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="spProperties" nillable="true" type="ax2179:ServiceProviderProperty"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alwaysSendMappedLocalSubjectId" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimMappings" nillable="true" type="ax2179:ClaimMapping"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idpClaims" nillable="true" type="ax2179:Claim"/>
                    <xs:element minOccurs="0" name="localClaimDialect" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="roleClaimURI" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="spClaimDialects" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userClaimURI" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="localClaim" nillable="true" type="ax2179:Claim"/>
                    <xs:element minOccurs="0" name="mandatory" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="remoteClaim" nillable="true" type="ax2179:Claim"/>
                    <xs:element minOccurs="0" name="requested" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimId" type="xs:int"/>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InboundAuthenticationConfig">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inboundAuthenticationRequestConfigs" nillable="true" type="ax2179:InboundAuthenticationRequestConfig"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InboundAuthenticationRequestConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="friendlyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inboundAuthKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inboundAuthType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inboundConfigType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inboundConfiguration" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax2179:Property"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="advanced" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="confidential" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InboundProvisioningConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dumbMode" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="provisioningEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="provisioningUserStore" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LocalAndOutboundAuthenticationConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alwaysSendBackAuthenticatedListOfIdPs" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="authenticationScriptConfig" nillable="true" type="ax2180:AuthenticationScriptConfig"/>
                    <xs:element minOccurs="0" name="authenticationStepForAttributes" nillable="true" type="ax2179:AuthenticationStep"/>
                    <xs:element minOccurs="0" name="authenticationStepForSubject" nillable="true" type="ax2179:AuthenticationStep"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="authenticationSteps" nillable="true" type="ax2179:AuthenticationStep"/>
                    <xs:element minOccurs="0" name="authenticationType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enableAuthorization" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subjectClaimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="useTenantDomainInLocalSubjectIdentifier" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="useUserstoreDomainInLocalSubjectIdentifier" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthenticationStep">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeStep" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="federatedIdentityProviders" nillable="true" type="ax2179:IdentityProvider"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localAuthenticatorConfigs" nillable="true" type="ax2179:LocalAuthenticatorConfig"/>
                    <xs:element minOccurs="0" name="stepOrder" type="xs:int"/>
                    <xs:element minOccurs="0" name="subjectStep" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityProvider">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="certificate" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="certificateInfoArray" nillable="true" type="ax2179:CertificateInfo"/>
                    <xs:element minOccurs="0" name="claimConfig" nillable="true" type="ax2179:ClaimConfig"/>
                    <xs:element minOccurs="0" name="defaultAuthenticatorConfig" nillable="true" type="ax2179:FederatedAuthenticatorConfig"/>
                    <xs:element minOccurs="0" name="defaultProvisioningConnectorConfig" nillable="true" type="ax2179:ProvisioningConnectorConfig"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enable" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="federatedAuthenticatorConfigs" nillable="true" type="ax2179:FederatedAuthenticatorConfig"/>
                    <xs:element minOccurs="0" name="federationHub" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="homeRealmId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identityProviderDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identityProviderName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idpProperties" nillable="true" type="ax2179:IdentityProviderProperty"/>
                    <xs:element minOccurs="0" name="justInTimeProvisioningConfig" nillable="true" type="ax2179:JustInTimeProvisioningConfig"/>
                    <xs:element minOccurs="0" name="permissionAndRoleConfig" nillable="true" type="ax2179:PermissionsAndRoleConfig"/>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisioningConnectorConfigs" nillable="true" type="ax2179:ProvisioningConnectorConfig"/>
                    <xs:element minOccurs="0" name="provisioningRole" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CertificateInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="certValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="thumbPrint" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FederatedAuthenticatorConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax2179:Property"/>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProvisioningConnectorConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="blocking" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisioningProperties" nillable="true" type="ax2179:Property"/>
                    <xs:element minOccurs="0" name="rulesEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityProviderProperty">
                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="JustInTimeProvisioningConfig">
                <xs:complexContent>
                    <xs:extension base="ax2179:InboundProvisioningConfig">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="modifyUserNameAllowed" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="passwordProvisioningEnabled" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="promptConsent" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="userStoreClaimUri" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PermissionsAndRoleConfig">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idpRoles" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2179:ApplicationPermission"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="ax2179:RoleMapping"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ApplicationPermission">
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RoleMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="localRole" nillable="true" type="ax2179:LocalRole"/>
                    <xs:element minOccurs="0" name="remoteRole" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LocalRole">
                <xs:sequence>
                    <xs:element minOccurs="0" name="localRoleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userStoreId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LocalAuthenticatorConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax2179:Property"/>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutboundProvisioningConfig">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisionByRoleList" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisioningIdentityProviders" nillable="true" type="ax2179:IdentityProvider"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestPathAuthenticatorConfig">
                <xs:complexContent>
                    <xs:extension base="ax2179:LocalAuthenticatorConfig">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceProviderProperty">
                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://script.model.common.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="AuthenticationScriptConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.template.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="SpTemplateDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="spContent" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="importApplicationTemplateRequest">
        <wsdl:part name="parameters" element="ns1:importApplicationTemplate"/>
    </wsdl:message>
    <wsdl:message name="importApplicationTemplateResponse"/>
    <wsdl:message name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
        <wsdl:part name="parameters" element="ns1:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
    </wsdl:message>
    <wsdl:message name="deleteApplicationTemplateRequest">
        <wsdl:part name="parameters" element="ns1:deleteApplicationTemplate"/>
    </wsdl:message>
    <wsdl:message name="deleteApplicationTemplateResponse"/>
    <wsdl:message name="updateApplicationTemplateRequest">
        <wsdl:part name="parameters" element="ns1:updateApplicationTemplate"/>
    </wsdl:message>
    <wsdl:message name="updateApplicationTemplateResponse"/>
    <wsdl:message name="exportApplicationTemplateRequest">
        <wsdl:part name="parameters" element="ns1:exportApplicationTemplate"/>
    </wsdl:message>
    <wsdl:message name="exportApplicationTemplateResponse">
        <wsdl:part name="parameters" element="ns1:exportApplicationTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="createServiceProviderAsTemplateRequest">
        <wsdl:part name="parameters" element="ns1:createServiceProviderAsTemplate"/>
    </wsdl:message>
    <wsdl:message name="createServiceProviderAsTemplateResponse"/>
    <wsdl:message name="loadApplicationTemplateRequest">
        <wsdl:part name="parameters" element="ns1:loadApplicationTemplate"/>
    </wsdl:message>
    <wsdl:message name="loadApplicationTemplateResponse">
        <wsdl:part name="parameters" element="ns1:loadApplicationTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllApplicationTemplateNamesRequest">
        <wsdl:part name="parameters" element="ns1:getAllApplicationTemplateNames"/>
    </wsdl:message>
    <wsdl:message name="getAllApplicationTemplateNamesResponse">
        <wsdl:part name="parameters" element="ns1:getAllApplicationTemplateNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllApplicationTemplatesRequest">
        <wsdl:part name="parameters" element="ns1:getAllApplicationTemplates"/>
    </wsdl:message>
    <wsdl:message name="getAllApplicationTemplatesResponse">
        <wsdl:part name="parameters" element="ns1:getAllApplicationTemplatesResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentityApplicationTemplateManagementServicePortType">
        <wsdl:operation name="importApplicationTemplate">
            <wsdl:input message="tns:importApplicationTemplateRequest" wsaw:Action="urn:importApplicationTemplate"/>
            <wsdl:output message="tns:importApplicationTemplateResponse" wsaw:Action="urn:importApplicationTemplateResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:importApplicationTemplateIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteApplicationTemplate">
            <wsdl:input message="tns:deleteApplicationTemplateRequest" wsaw:Action="urn:deleteApplicationTemplate"/>
            <wsdl:output message="tns:deleteApplicationTemplateResponse" wsaw:Action="urn:deleteApplicationTemplateResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:deleteApplicationTemplateIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="updateApplicationTemplate">
            <wsdl:input message="tns:updateApplicationTemplateRequest" wsaw:Action="urn:updateApplicationTemplate"/>
            <wsdl:output message="tns:updateApplicationTemplateResponse" wsaw:Action="urn:updateApplicationTemplateResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:updateApplicationTemplateIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="exportApplicationTemplate">
            <wsdl:input message="tns:exportApplicationTemplateRequest" wsaw:Action="urn:exportApplicationTemplate"/>
            <wsdl:output message="tns:exportApplicationTemplateResponse" wsaw:Action="urn:exportApplicationTemplateResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:exportApplicationTemplateIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="createServiceProviderAsTemplate">
            <wsdl:input message="tns:createServiceProviderAsTemplateRequest" wsaw:Action="urn:createServiceProviderAsTemplate"/>
            <wsdl:output message="tns:createServiceProviderAsTemplateResponse" wsaw:Action="urn:createServiceProviderAsTemplateResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:createServiceProviderAsTemplateIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="loadApplicationTemplate">
            <wsdl:input message="tns:loadApplicationTemplateRequest" wsaw:Action="urn:loadApplicationTemplate"/>
            <wsdl:output message="tns:loadApplicationTemplateResponse" wsaw:Action="urn:loadApplicationTemplateResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:loadApplicationTemplateIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplateNames">
            <wsdl:input message="tns:getAllApplicationTemplateNamesRequest" wsaw:Action="urn:getAllApplicationTemplateNames"/>
            <wsdl:output message="tns:getAllApplicationTemplateNamesResponse" wsaw:Action="urn:getAllApplicationTemplateNamesResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:getAllApplicationTemplateNamesIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplates">
            <wsdl:input message="tns:getAllApplicationTemplatesRequest" wsaw:Action="urn:getAllApplicationTemplates"/>
            <wsdl:output message="tns:getAllApplicationTemplatesResponse" wsaw:Action="urn:getAllApplicationTemplatesResponse"/>
            <wsdl:fault message="tns:IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException" wsaw:Action="urn:getAllApplicationTemplatesIdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityApplicationTemplateManagementServiceSoap11Binding" type="tns:IdentityApplicationTemplateManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="importApplicationTemplate">
            <soap:operation soapAction="urn:importApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplicationTemplate">
            <soap:operation soapAction="urn:deleteApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplicationTemplate">
            <soap:operation soapAction="urn:updateApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="exportApplicationTemplate">
            <soap:operation soapAction="urn:exportApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createServiceProviderAsTemplate">
            <soap:operation soapAction="urn:createServiceProviderAsTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadApplicationTemplate">
            <soap:operation soapAction="urn:loadApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplateNames">
            <soap:operation soapAction="urn:getAllApplicationTemplateNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplates">
            <soap:operation soapAction="urn:getAllApplicationTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityApplicationTemplateManagementServiceSoap12Binding" type="tns:IdentityApplicationTemplateManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="importApplicationTemplate">
            <soap12:operation soapAction="urn:importApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplicationTemplate">
            <soap12:operation soapAction="urn:deleteApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplicationTemplate">
            <soap12:operation soapAction="urn:updateApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="exportApplicationTemplate">
            <soap12:operation soapAction="urn:exportApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createServiceProviderAsTemplate">
            <soap12:operation soapAction="urn:createServiceProviderAsTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadApplicationTemplate">
            <soap12:operation soapAction="urn:loadApplicationTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplateNames">
            <soap12:operation soapAction="urn:getAllApplicationTemplateNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplates">
            <soap12:operation soapAction="urn:getAllApplicationTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException">
                <soap12:fault use="literal" name="IdentityApplicationTemplateManagementServiceIdentityApplicationTemplateMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityApplicationTemplateManagementServiceHttpBinding" type="tns:IdentityApplicationTemplateManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="importApplicationTemplate">
            <http:operation location="importApplicationTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplicationTemplate">
            <http:operation location="deleteApplicationTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApplicationTemplate">
            <http:operation location="updateApplicationTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="exportApplicationTemplate">
            <http:operation location="exportApplicationTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createServiceProviderAsTemplate">
            <http:operation location="createServiceProviderAsTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loadApplicationTemplate">
            <http:operation location="loadApplicationTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplateNames">
            <http:operation location="getAllApplicationTemplateNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationTemplates">
            <http:operation location="getAllApplicationTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityApplicationTemplateManagementService">
        <wsdl:port name="IdentityApplicationTemplateManagementServiceHttpsSoap11Endpoint" binding="tns:IdentityApplicationTemplateManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityApplicationTemplateManagementService.IdentityApplicationTemplateManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityApplicationTemplateManagementServiceHttpsSoap12Endpoint" binding="tns:IdentityApplicationTemplateManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityApplicationTemplateManagementService.IdentityApplicationTemplateManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityApplicationTemplateManagementServiceHttpsEndpoint" binding="tns:IdentityApplicationTemplateManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityApplicationTemplateManagementService.IdentityApplicationTemplateManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>