service-stubs/identity/org.wso2.carbon.identity.tenant.artifact.mgt.stub/src/main/resources/IdentityArtifactManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2448="http://mgt.artifact.tenant.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mgt.artifact.tenant.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2450="http://dto.mgt.artifact.tenant.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2451="http://util.java/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.artifact.tenant.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityArtifactManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Properties">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2449="http://mgt.artifact.tenant.identity.carbon.wso2.org/xsd" xmlns:ax2453="http://dto.mgt.artifact.tenant.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://mgt.artifact.tenant.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.artifact.tenant.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityArtifactManagementException" nillable="true" type="ax2448:IdentityArtifactManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifactName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifact" nillable="true" type="ax2450:ResourceArtifact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifact" nillable="true" type="ax2450:ResourceArtifact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createArtifactCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategory" nillable="true" type="ax2450:ResourceArtifactCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactCategoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2450:ResourceArtifactCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isExistingArtifactCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isExistingArtifactCategoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateArtifactCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifactCategory" nillable="true" type="ax2450:ResourceArtifactCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllArtifactInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllArtifactInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2450:ResourceArtifact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifactName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="artifactCategoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifactName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2450:ResourceArtifact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2452="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.artifact.tenant.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="ResourceArtifact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastUpdatedTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax2451:Properties"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResourceArtifactCategory">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resourceArtifacts" nillable="true" type="ax2450:ResourceArtifact"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.artifact.tenant.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityArtifactManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createArtifactCategoryRequest">
        <wsdl:part name="parameters" element="ns1:createArtifactCategory"/>
    </wsdl:message>
    <wsdl:message name="createArtifactCategoryResponse"/>
    <wsdl:message name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
        <wsdl:part name="parameters" element="ns1:IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
    </wsdl:message>
    <wsdl:message name="createArtifactRequest">
        <wsdl:part name="parameters" element="ns1:createArtifact"/>
    </wsdl:message>
    <wsdl:message name="createArtifactResponse"/>
    <wsdl:message name="getArtifactCategoryRequest">
        <wsdl:part name="parameters" element="ns1:getArtifactCategory"/>
    </wsdl:message>
    <wsdl:message name="getArtifactCategoryResponse">
        <wsdl:part name="parameters" element="ns1:getArtifactCategoryResponse"/>
    </wsdl:message>
    <wsdl:message name="isExistingArtifactCategoryRequest">
        <wsdl:part name="parameters" element="ns1:isExistingArtifactCategory"/>
    </wsdl:message>
    <wsdl:message name="isExistingArtifactCategoryResponse">
        <wsdl:part name="parameters" element="ns1:isExistingArtifactCategoryResponse"/>
    </wsdl:message>
    <wsdl:message name="getArtifactRequest">
        <wsdl:part name="parameters" element="ns1:getArtifact"/>
    </wsdl:message>
    <wsdl:message name="getArtifactResponse">
        <wsdl:part name="parameters" element="ns1:getArtifactResponse"/>
    </wsdl:message>
    <wsdl:message name="updateArtifactRequest">
        <wsdl:part name="parameters" element="ns1:updateArtifact"/>
    </wsdl:message>
    <wsdl:message name="updateArtifactResponse"/>
    <wsdl:message name="updateArtifactCategoryRequest">
        <wsdl:part name="parameters" element="ns1:updateArtifactCategory"/>
    </wsdl:message>
    <wsdl:message name="updateArtifactCategoryResponse"/>
    <wsdl:message name="deleteArtifactRequest">
        <wsdl:part name="parameters" element="ns1:deleteArtifact"/>
    </wsdl:message>
    <wsdl:message name="deleteArtifactResponse"/>
    <wsdl:message name="getAllArtifactInfoRequest">
        <wsdl:part name="parameters" element="ns1:getAllArtifactInfo"/>
    </wsdl:message>
    <wsdl:message name="getAllArtifactInfoResponse">
        <wsdl:part name="parameters" element="ns1:getAllArtifactInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentityArtifactManagementServicePortType">
        <wsdl:operation name="createArtifactCategory">
            <wsdl:input message="tns:createArtifactCategoryRequest" wsaw:Action="urn:createArtifactCategory"/>
            <wsdl:output message="tns:createArtifactCategoryResponse" wsaw:Action="urn:createArtifactCategoryResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:createArtifactCategoryIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="createArtifact">
            <wsdl:input message="tns:createArtifactRequest" wsaw:Action="urn:createArtifact"/>
            <wsdl:output message="tns:createArtifactResponse" wsaw:Action="urn:createArtifactResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:createArtifactIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getArtifactCategory">
            <wsdl:input message="tns:getArtifactCategoryRequest" wsaw:Action="urn:getArtifactCategory"/>
            <wsdl:output message="tns:getArtifactCategoryResponse" wsaw:Action="urn:getArtifactCategoryResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:getArtifactCategoryIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="isExistingArtifactCategory">
            <wsdl:input message="tns:isExistingArtifactCategoryRequest" wsaw:Action="urn:isExistingArtifactCategory"/>
            <wsdl:output message="tns:isExistingArtifactCategoryResponse" wsaw:Action="urn:isExistingArtifactCategoryResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:isExistingArtifactCategoryIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getArtifact">
            <wsdl:input message="tns:getArtifactRequest" wsaw:Action="urn:getArtifact"/>
            <wsdl:output message="tns:getArtifactResponse" wsaw:Action="urn:getArtifactResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:getArtifactIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="updateArtifact">
            <wsdl:input message="tns:updateArtifactRequest" wsaw:Action="urn:updateArtifact"/>
            <wsdl:output message="tns:updateArtifactResponse" wsaw:Action="urn:updateArtifactResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:updateArtifactIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="updateArtifactCategory">
            <wsdl:input message="tns:updateArtifactCategoryRequest" wsaw:Action="urn:updateArtifactCategory"/>
            <wsdl:output message="tns:updateArtifactCategoryResponse" wsaw:Action="urn:updateArtifactCategoryResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:updateArtifactCategoryIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteArtifact">
            <wsdl:input message="tns:deleteArtifactRequest" wsaw:Action="urn:deleteArtifact"/>
            <wsdl:output message="tns:deleteArtifactResponse" wsaw:Action="urn:deleteArtifactResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:deleteArtifactIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllArtifactInfo">
            <wsdl:input message="tns:getAllArtifactInfoRequest" wsaw:Action="urn:getAllArtifactInfo"/>
            <wsdl:output message="tns:getAllArtifactInfoResponse" wsaw:Action="urn:getAllArtifactInfoResponse"/>
            <wsdl:fault message="tns:IdentityArtifactManagementServiceIdentityArtifactManagementException" name="IdentityArtifactManagementServiceIdentityArtifactManagementException" wsaw:Action="urn:getAllArtifactInfoIdentityArtifactManagementServiceIdentityArtifactManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityArtifactManagementServiceSoap11Binding" type="tns:IdentityArtifactManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createArtifactCategory">
            <soap:operation soapAction="urn:createArtifactCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createArtifact">
            <soap:operation soapAction="urn:createArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactCategory">
            <soap:operation soapAction="urn:getArtifactCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isExistingArtifactCategory">
            <soap:operation soapAction="urn:isExistingArtifactCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifact">
            <soap:operation soapAction="urn:getArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateArtifact">
            <soap:operation soapAction="urn:updateArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateArtifactCategory">
            <soap:operation soapAction="urn:updateArtifactCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteArtifact">
            <soap:operation soapAction="urn:deleteArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllArtifactInfo">
            <soap:operation soapAction="urn:getAllArtifactInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityArtifactManagementServiceSoap12Binding" type="tns:IdentityArtifactManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createArtifactCategory">
            <soap12:operation soapAction="urn:createArtifactCategory" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createArtifact">
            <soap12:operation soapAction="urn:createArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactCategory">
            <soap12:operation soapAction="urn:getArtifactCategory" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isExistingArtifactCategory">
            <soap12:operation soapAction="urn:isExistingArtifactCategory" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifact">
            <soap12:operation soapAction="urn:getArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateArtifact">
            <soap12:operation soapAction="urn:updateArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateArtifactCategory">
            <soap12:operation soapAction="urn:updateArtifactCategory" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteArtifact">
            <soap12:operation soapAction="urn:deleteArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllArtifactInfo">
            <soap12:operation soapAction="urn:getAllArtifactInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityArtifactManagementServiceIdentityArtifactManagementException">
                <soap12:fault use="literal" name="IdentityArtifactManagementServiceIdentityArtifactManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityArtifactManagementServiceHttpBinding" type="tns:IdentityArtifactManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createArtifactCategory">
            <http:operation location="createArtifactCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createArtifact">
            <http:operation location="createArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifactCategory">
            <http:operation location="getArtifactCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isExistingArtifactCategory">
            <http:operation location="isExistingArtifactCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifact">
            <http:operation location="getArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateArtifact">
            <http:operation location="updateArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateArtifactCategory">
            <http:operation location="updateArtifactCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteArtifact">
            <http:operation location="deleteArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllArtifactInfo">
            <http:operation location="getAllArtifactInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityArtifactManagementService">
        <wsdl:port name="IdentityArtifactManagementServiceHttpsSoap11Endpoint" binding="tns:IdentityArtifactManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityArtifactManagementService.IdentityArtifactManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityArtifactManagementServiceHttpsSoap12Endpoint" binding="tns:IdentityArtifactManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityArtifactManagementService.IdentityArtifactManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityArtifactManagementServiceHttpsEndpoint" binding="tns:IdentityArtifactManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityArtifactManagementService.IdentityArtifactManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>