service-stubs/identity/org.wso2.carbon.identity.application.default.seq.mgt.stub/src/main/resources/IdentityDefaultSeqManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2169="http://common.application.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2171="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:tns="http://mgt.seq.defaultauth.application.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.seq.defaultauth.application.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityDefaultSeqManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityApplicationManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2172="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2170="http://common.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://common.application.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.common.application.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityApplicationManagementException" nillable="true" type="ax2169:IdentityApplicationManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDefaultAuthenticationSeqList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDefaultAuthenticationSeqListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2171:DefaultAuthenticationSequence"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createDefaultAuthenticationSeq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authenticationSequence" nillable="true" type="ax2171:DefaultAuthenticationSequence"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDefaultAuthenticationSeq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDefaultAuthenticationSeqResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2171:DefaultAuthenticationSequence"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteDefaultAuthenticationSeq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.common.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="DefaultAuthenticationSequence">
                <xs:sequence>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDefaultAuthenticationSeqRequest">
        <wsdl:part name="parameters" element="ns1:getDefaultAuthenticationSeq"/>
    </wsdl:message>
    <wsdl:message name="getDefaultAuthenticationSeqResponse">
        <wsdl:part name="parameters" element="ns1:getDefaultAuthenticationSeqResponse"/>
    </wsdl:message>
    <wsdl:message name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
        <wsdl:part name="parameters" element="ns1:IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
    </wsdl:message>
    <wsdl:message name="getDefaultAuthenticationSeqListRequest">
        <wsdl:part name="parameters" element="ns1:getDefaultAuthenticationSeqList"/>
    </wsdl:message>
    <wsdl:message name="getDefaultAuthenticationSeqListResponse">
        <wsdl:part name="parameters" element="ns1:getDefaultAuthenticationSeqListResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteDefaultAuthenticationSeqRequest">
        <wsdl:part name="parameters" element="ns1:deleteDefaultAuthenticationSeq"/>
    </wsdl:message>
    <wsdl:message name="deleteDefaultAuthenticationSeqResponse"/>
    <wsdl:message name="createDefaultAuthenticationSeqRequest">
        <wsdl:part name="parameters" element="ns1:createDefaultAuthenticationSeq"/>
    </wsdl:message>
    <wsdl:message name="createDefaultAuthenticationSeqResponse"/>
    <wsdl:portType name="IdentityDefaultSeqManagementServicePortType">
        <wsdl:operation name="getDefaultAuthenticationSeq">
            <wsdl:input message="tns:getDefaultAuthenticationSeqRequest" wsaw:Action="urn:getDefaultAuthenticationSeq"/>
            <wsdl:output message="tns:getDefaultAuthenticationSeqResponse" wsaw:Action="urn:getDefaultAuthenticationSeqResponse"/>
            <wsdl:fault message="tns:IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" wsaw:Action="urn:getDefaultAuthenticationSeqIdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getDefaultAuthenticationSeqList">
            <wsdl:input message="tns:getDefaultAuthenticationSeqListRequest" wsaw:Action="urn:getDefaultAuthenticationSeqList"/>
            <wsdl:output message="tns:getDefaultAuthenticationSeqListResponse" wsaw:Action="urn:getDefaultAuthenticationSeqListResponse"/>
            <wsdl:fault message="tns:IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" wsaw:Action="urn:getDefaultAuthenticationSeqListIdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteDefaultAuthenticationSeq">
            <wsdl:input message="tns:deleteDefaultAuthenticationSeqRequest" wsaw:Action="urn:deleteDefaultAuthenticationSeq"/>
            <wsdl:output message="tns:deleteDefaultAuthenticationSeqResponse" wsaw:Action="urn:deleteDefaultAuthenticationSeqResponse"/>
            <wsdl:fault message="tns:IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" wsaw:Action="urn:deleteDefaultAuthenticationSeqIdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="createDefaultAuthenticationSeq">
            <wsdl:input message="tns:createDefaultAuthenticationSeqRequest" wsaw:Action="urn:createDefaultAuthenticationSeq"/>
            <wsdl:output message="tns:createDefaultAuthenticationSeqResponse" wsaw:Action="urn:createDefaultAuthenticationSeqResponse"/>
            <wsdl:fault message="tns:IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException" wsaw:Action="urn:createDefaultAuthenticationSeqIdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityDefaultSeqManagementServiceSoap11Binding" type="tns:IdentityDefaultSeqManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDefaultAuthenticationSeq">
            <soap:operation soapAction="urn:getDefaultAuthenticationSeq" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDefaultAuthenticationSeqList">
            <soap:operation soapAction="urn:getDefaultAuthenticationSeqList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteDefaultAuthenticationSeq">
            <soap:operation soapAction="urn:deleteDefaultAuthenticationSeq" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createDefaultAuthenticationSeq">
            <soap:operation soapAction="urn:createDefaultAuthenticationSeq" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityDefaultSeqManagementServiceSoap12Binding" type="tns:IdentityDefaultSeqManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDefaultAuthenticationSeq">
            <soap12:operation soapAction="urn:getDefaultAuthenticationSeq" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap12:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDefaultAuthenticationSeqList">
            <soap12:operation soapAction="urn:getDefaultAuthenticationSeqList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap12:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteDefaultAuthenticationSeq">
            <soap12:operation soapAction="urn:deleteDefaultAuthenticationSeq" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap12:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createDefaultAuthenticationSeq">
            <soap12:operation soapAction="urn:createDefaultAuthenticationSeq" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException">
                <soap12:fault use="literal" name="IdentityDefaultSeqManagementServiceIdentityApplicationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityDefaultSeqManagementServiceHttpBinding" type="tns:IdentityDefaultSeqManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDefaultAuthenticationSeq">
            <http:operation location="getDefaultAuthenticationSeq"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDefaultAuthenticationSeqList">
            <http:operation location="getDefaultAuthenticationSeqList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDefaultAuthenticationSeq">
            <http:operation location="deleteDefaultAuthenticationSeq"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDefaultAuthenticationSeq">
            <http:operation location="createDefaultAuthenticationSeq"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityDefaultSeqManagementService">
        <wsdl:port name="IdentityDefaultSeqManagementServiceHttpsSoap11Endpoint" binding="tns:IdentityDefaultSeqManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityDefaultSeqManagementService.IdentityDefaultSeqManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityDefaultSeqManagementServiceHttpsSoap12Endpoint" binding="tns:IdentityDefaultSeqManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityDefaultSeqManagementService.IdentityDefaultSeqManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityDefaultSeqManagementServiceHttpsEndpoint" binding="tns:IdentityDefaultSeqManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityDefaultSeqManagementService.IdentityDefaultSeqManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>